.video {
  position: relative;
  height: 100vh;
  top: -130px;
  width: 100%;
}
.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  opacity: 0.7;
}
.video .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 1;
  z-index: 7;
  background: #905e9e;
  mix-blend-mode: multiply;
}
.video .content {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 40vh;
}
.video .content p {
  color: var(--white);
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 24px;
  font-size: 14px;
}
.video .content button {
  margin-top: 30px;
  background: none;
  color: #fff;
  padding: 20px 30px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all ease 0.2s;
  border-radius: 100px;
}
.video .content button.pink {
  background: var(--pink);
  padding-left: 80px;
  margin-left: -60px;
  mix-blend-mode: multiply;
}
.video .content button.blue {
  padding-right: 80px;
  background: var(--blue);
}
.video .content button:hover {
  background: var(--purple);
}
.video .content button svg {
  margin: 0px 10px -5px 0px;
  font-size: 28px;
}
.video .content .goto {
  color: #fff;
  font-size: 32px;
  margin-top: 15vh;
}
.sendword {
  padding-bottom: 80px;
  margin-bottom: 150px;
  position: relative;
}
.sendword .halfpink {
  position: absolute;
  right: -10vw;
  top: -3vw;
  width: 80px;
}
.sendword .doubleblue {
  position: absolute;
  left: -10vw;
  bottom: -3vw;
  width: 100px;
}
.sendword p {
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 32px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.sendword hr {
  width: 50%;
  margin: 80px auto;
  border: 1px solid #000;
  height: 0px;
  padding: 0px;
}
.sendword h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 38px;
  font-size: 24px;
  text-align: center;
  width: 50%;
  margin: 0px auto 50px auto;
}
.sendword h3 strong {
  font-size: 26px;
  display: block;
}
.sendword form input {
  width: 30%;
  margin: 20px auto;
  display: block;
  border: 3px solid var(--black);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  letter-spacing: 4px;
  font-size: 18px;
  text-transform: uppercase;
}
.quizcall {
  padding-bottom: 80px;
  margin-bottom: 250px;
  position: relative;
  text-align: center;
}
.quizcall .halfpink {
  position: absolute;
  left: 5vw;
  top: -3vw;
  width: 70px;
  transform: rotate(-90deg);
}
.quizcall .doublepink {
  position: absolute;
  right: -7vw;
  bottom: -10vw;
  width: 80px;
}
.quizcall p {
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 32px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.quizcall .buttonquiz {
  position: relative;
  margin: 60px auto 20px auto;
  display: inline-block;
  z-index: 10;
  border: none;
  background: none;
  cursor: pointer;
}
.quizcall .buttonquiz span {
  position: relative;
  z-index: 30;
  padding-top: 22px;
  display: block;
  color: var(--white);
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.5);
  font-size: 0px;
}
.quizcall .buttonquiz:hover span {
  font-size: 24px;
}
.quizcall .buttonquiz:before {
  transition: all ease 0.2s;
  position: absolute;
  z-index: 1;
  top: 0px;
  display: block;
  content: '';
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background: var(--pink);
  left: 0%;
}
.quizcall .buttonquiz:after {
  transition: all ease 0.2s;
  z-index: 1;
  position: absolute;
  top: 0px;
  display: block;
  content: '';
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background: var(--blue);
  mix-blend-mode: multiply;
  right: -50%;
}
.quizcall .buttonquiz:hover:after {
  width: 180px;
  right: 30%;
}
.quizcall .buttonquiz:hover:before {
  width: 180px;
  left: 30%;
}
.formasdeprevencao {
  padding-bottom: 80px;
  margin-bottom: 115px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.formasdeprevencao .third {
  max-width: 400px;
}
.formasdeprevencao .center {
  text-align: center;
}
.formasdeprevencao .center h3 {
  font-size: 42px;
  line-height: 48px;
  font-weight: normal;
  margin-bottom: 50px;
}
.formasdeprevencao .center p {
  font-size: 16px;
  line-height: 32px;
}
.formasdeprevencao .left,
.formasdeprevencao .right {
  margin-top: 150px;
  position: relative;
}
.formasdeprevencao .left h4,
.formasdeprevencao .right h4 {
  color: #fff;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 20px;
}
.formasdeprevencao .left p,
.formasdeprevencao .right p {
  color: #fff;
  font-size: 12px;
  line-height: 26px;
}
.formasdeprevencao .slick-slider {
  position: relative;
  z-index: 10;
}
.formasdeprevencao .left {
  text-align: right;
  padding-left: 5vw;
}
.formasdeprevencao .left .slick-next {
  display: none !important;
}
.formasdeprevencao .right {
  padding-right: 5vw;
}
.formasdeprevencao .right .slick-prev {
  display: none !important;
}
.formasdeprevencao .left:after {
  position: absolute;
  left: -65%;
  top: -90%;
  content: '';
  display: block;
  width: 50vw;
  height: 50vw;
  border-radius: 50vw;
  background: var(--blue);
}
.formasdeprevencao .right:after {
  position: absolute;
  right: -65%;
  top: -60%;
  content: '';
  display: block;
  width: 50vw;
  height: 50vw;
  border-radius: 50vw;
  background: var(--pink);
}
.dicas h3 {
  font-size: 16px;
  text-align: center;
  padding: 0px 0px 15px 0px;
  border-bottom: 2px solid var(--black);
  margin: -150px auto 60px auto;
  display: block;
  width: 50%;
}
.dicas .slick-track {
  height: 180px !important;
}
.dicas .slick-slider .slick-list {
  height: 250px;
}
.dicas .slick-slider .slick-slide {
  padding: 10px;
}
.dicas .slick-slider .slick-slide img {
  width: 100%;
  border-radius: 20px;
}
.dicas .slick-slider .slick-prev:before {
  color: #000;
  top: -10px;
  position: absolute;
  left: -30px;
  content: "<";
}
.dicas .slick-slider .slick-next:before {
  color: #000;
  top: -10px;
  position: absolute;
  right: -30px;
  content: ">";
}
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .formasdeprevencao .third {
    max-width: 300px !important;
  }
  .formasdeprevencao .left:after {
    left: -135%;
    top: -90%;
    width: 70vw;
    height: 80vw;
    border-radius: 150vw;
  }
  .formasdeprevencao .right:after {
    right: -135%;
    top: -90%;
    width: 70vw;
    height: 80vw;
    border-radius: 150vw;
  }
}
