.video {
  position: relative;
  height: 100vh;
  width: 100%;
}
.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  opacity: 0.7;
}
.video .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 1;
  z-index: 7;
  background: #905e9e;
  mix-blend-mode: multiply;
}
.video .content {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 28vh;
}
.video .content p {
  color: var(--white);
  margin-top: 50px;
  letter-spacing: 4px;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 50px;
}
.video .content button,
.video .content a {
  margin-top: 30px;
  background: none;
  color: #fff;
  padding: 20px 30px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
  transition: all ease 0.2s;
  border-radius: 100px;
}
.video .content button.pink,
.video .content a.pink {
  background: var(--pink);
  padding-left: 80px;
  margin-left: -60px;
  mix-blend-mode: multiply;
}
.video .content button.blue,
.video .content a.blue {
  padding-right: 80px;
  background: var(--blue);
}
.video .content button:hover,
.video .content a:hover {
  background: var(--purple);
}
.video .content button svg,
.video .content a svg {
  margin: 0px 10px -5px 0px;
  font-size: 28px;
}
.video .content .goto {
  color: #fff;
  font-size: 32px;
  margin-top: 15vh;
}
.quizcall {
  padding-bottom: 80px;
  margin-bottom: 100px;
  position: relative;
  text-align: center;
  padding: 100px 0px;
}
.quizcall .halfpink {
  position: absolute;
  left: 5vw;
  top: 1vw;
  width: 100px;
  transform: rotate(-90deg);
}
.quizcall .doublepink {
  position: absolute;
  right: -5vw;
  bottom: -5vw;
  width: 120px;
}
.quizcall .doublecirclephototwo {
  position: absolute;
  left: -7vw;
  bottom: 0vw;
  width: 280px;
}
.quizcall .bluecircle {
  position: absolute;
  right: -7vw;
  top: 0vw;
  width: 200px;
  height: 200px;
  border-radius: 500px;
  background: var(--blue);
}
.quizcall h2 {
  font-size: 72px;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: var(--blue);
}
.quizcall p {
  letter-spacing: 4px;
  line-height: 32px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.quizcall .buttonquiz {
  position: relative;
  margin: 60px auto 20px auto;
  display: inline-block;
  z-index: 10;
  border: none;
  background: none;
  cursor: pointer;
}
.quizcall .buttonquiz span {
  position: relative;
  z-index: 30;
  padding-top: 22px;
  display: block;
  color: var(--white);
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.5);
}
.quizcall .buttonquiz:before {
  transition: all ease 0.2s;
  position: absolute;
  z-index: 1;
  top: 0px;
  display: block;
  content: '';
  width: 230px;
  height: 70px;
  border-radius: 100px;
  background: var(--pink);
  left: 40%;
}
.quizcall .buttonquiz:after {
  transition: all ease 0.2s;
  z-index: 1;
  position: absolute;
  top: 0px;
  display: block;
  content: '';
  width: 230px;
  height: 70px;
  border-radius: 100px;
  background: var(--blue);
  mix-blend-mode: multiply;
  right: 40%;
}
.about {
  padding: 50px 0px;
}
.about .halfpink {
  position: absolute;
  right: -7vw;
  top: -5vw;
  width: 80px;
}
.about .doubleblue {
  position: absolute;
  left: -7vw;
  bottom: -5vw;
  width: 100px;
}
.about p {
  text-transform: initial;
  letter-spacing: 4px;
  line-height: 32px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}
.simplewords {
  padding: 80px 0px 150px 0px;
}
.simplewords .doublecirclezig {
  position: absolute;
  left: 18vw;
  top: -4vw;
  width: 150px;
}
.simplewords .doublecirclehalf {
  position: absolute;
  right: -9vw;
  top: -5vw;
  width: 150px;
}
.simplewords .halfzigblue {
  position: absolute;
  right: 20vw;
  bottom: -5vw;
  width: 80px;
}
.simplewords .doublecirclephotoone {
  position: absolute;
  left: -8vw;
  bottom: -9vw;
  width: 200px;
}
.simplewords p {
  font-size: 24px;
  line-height: 34px;
  text-transform: initial;
}
.simplewords p.left {
  float: left;
  color: var(--pink);
}
.simplewords p.right {
  float: right;
  text-align: left;
  color: var(--blue);
}
.simplewords h3 {
  font-size: 200px;
  text-align: center;
  font-weight: normal;
  color: var(--blue) !important;
  text-shadow: -10px 0px 0 var(--pink), 2px 0px 2px rgba(206, 89, 55, 0);
}
.Modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 60%;
  display: block;
  opacity: 1;
}
.Modal svg {
  cursor: pointer;
  margin: -40px 0px 5px 0px;
  float: right;
  font-size: 32px;
  transition: all ease 0.2s;
}
.Modal svg:hover {
  color: var(--pink);
}
.Modal video {
  width: 100%;
}
.ReactModal__Overlay {
  z-index: 10000;
}
