.words {
  position: relative;
  height: 500px;
  padding: 70px 0px;
}
.words .wordcloudleft {
  position: absolute;
  top: 0px;
  right: 0px;
  width: auto !important;
  height: auto !important;
}
.words .wordcloudright {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: auto !important;
  height: auto !important;
}
.worcloudtext {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.worcloudtext p {
  text-transform: initial;
}
.worcloudtext p.pinktext {
  font-size: 24px;
  text-align: right;
  float: left;
  color: var(--pink);
}
.worcloudtext p.bluetext {
  font-size: 24px;
  text-align: right;
  color: var(--blue);
}
.worcloudtext h3 {
  font-size: 240px;
  text-align: center;
  font-weight: 700;
  color: var(--blue) !important;
  mix-blend-mode: multiply;
  text-shadow: 15px 0px 0px var(--pink);
}
.worcloudtext .cloud {
  grid-area: 0.25 !important;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  position: relative;
  display: grid;
  height: 500px;
}
.worcloudtext .cloud p {
  text-transform: uppercase;
}
.worcloudtext .cloud p:nth-child(1) {
  grid-row-start: 1;
  grid-column-start: 1;
  color: var(--pink);
  font-size: 26px;
}
.worcloudtext .cloud p:nth-child(2) {
  grid-row-start: 2;
  grid-column-start: 3;
  color: var(--blue);
  font-size: 32px;
  margin-left: -170px;
}
.worcloudtext .cloud p:nth-child(3) {
  grid-row-start: 3;
  grid-column-start: 4;
  color: var(--pink);
}
.worcloudtext .cloud p:nth-child(4) {
  grid-row-start: 1;
  grid-column-start: 6;
  color: var(--blue);
}
.worcloudtext .cloud p:nth-child(5) {
  grid-row-start: 1;
  grid-column-start: 10;
  color: var(--pink);
  font-size: 32px;
}
.worcloudtext .cloud p:nth-child(6) {
  grid-row-start: 2;
  grid-column-start: 9;
  color: var(--blue);
  font-size: 24px;
}
.worcloudtext .cloud p:nth-child(7) {
  grid-row-start: 4;
  grid-column-start: 11;
  color: var(--pink);
}
.worcloudtext .cloud p:nth-child(8) {
  grid-row-start: 5;
  grid-column-start: 2;
  color: var(--pink);
  font-size: 32px;
}
.worcloudtext .cloud p:nth-child(9) {
  grid-row-start: 6;
  grid-column-start: 8;
  color: var(--pink);
  font-size: 24px;
}
.worcloudtext .cloud p:nth-child(10) {
  grid-row-start: 5;
  grid-column-start: 6;
  color: var(--blue);
}
.worcloudtext .cloud p:nth-child(11) {
  grid-row-start: 3;
  grid-column-start: 7;
  color: var(--pink);
  font-size: 32px;
}
.worcloudtext .cloud p:nth-child(12) {
  grid-row-start: 4;
  grid-column-start: 1;
  color: var(--blue);
  font-size: 24px;
}
.worcloudtext .cloud p:nth-child(13) {
  grid-row-start: 4;
  grid-column-start: 8;
  color: var(--blue);
  font-size: 32px;
}
.worcloudtext .cloud p:nth-child(14) {
  grid-row-start: 4;
  grid-column-start: 4;
  color: var(--blue);
}
.worcloudtext .cloud p:nth-child(15) {
  grid-row-start: 6;
  grid-column-start: 5;
  color: var(--pink);
  font-size: 32px;
}
.worcloudtext .cloud p:nth-child(16) {
  grid-row-start: 5;
  grid-column-start: 2;
  color: var(--blue);
  font-size: 24px;
}
.worcloudtext .cloud p:nth-child(17) {
  grid-row-start: 3;
  grid-column-start: 9;
  color: var(--pink);
  font-size: 32px;
}
.worcloudtext .cloud p:nth-child(18) {
  grid-row-start: 4;
  grid-column-start: 1;
  color: var(--blue);
}
