.sendword{
  padding-bottom: 80px;
  margin-bottom: 50px;
  position: relative;
  .halfpink{
    position: absolute;
    left: 0vw;
    bottom: 3vw;
    width: 80px;
  }
  .halfdashedpink{
    position: absolute;
    right: -6vw;
    bottom: -3vw;
    width: 100px;
  }
  .doubleblue{
    position: absolute;
    left: -10vw;
    bottom: -3vw;
    width: 100px;
  }
  p{
    //text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 32px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
  }
  hr{
    width: 50%;
    margin: 80px auto;
    border: 1px solid #000;
    height: 0px;
    padding: 0px;
  }
  h3{
    letter-spacing: 4px;
    text-align: center;
    margin: 0px auto 50px auto;
    font-size: 52px;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: var(--blue);
    strong{
      font-size: 26px;
      display: block;
    }
  }
  form{
    input,button{
      width: 30%;
      margin: 20px auto;
      display: block;
      border: 3px solid var(--black);
      padding: 20px 0px;
      border-radius: 20px;
      text-align: center;
      letter-spacing: 4px;
      font-size: 18px;
      text-transform: uppercase;
    }
    button{
      background: var(--pink);
      padding: 10px 20px;
      border-radius: 5px;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      border: none;
      transition: all ease 0.2s;
      cursor: pointer;
      &:hover{
        background: var(--blue);
      }
    }
  }
}