.sendword {
  padding-bottom: 80px;
  margin-bottom: 50px;
  position: relative;
}
.sendword .halfpink {
  position: absolute;
  left: 0vw;
  bottom: 3vw;
  width: 80px;
}
.sendword .halfdashedpink {
  position: absolute;
  right: -6vw;
  bottom: -3vw;
  width: 100px;
}
.sendword .doubleblue {
  position: absolute;
  left: -10vw;
  bottom: -3vw;
  width: 100px;
}
.sendword p {
  letter-spacing: 4px;
  line-height: 32px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.sendword hr {
  width: 50%;
  margin: 80px auto;
  border: 1px solid #000;
  height: 0px;
  padding: 0px;
}
.sendword h3 {
  letter-spacing: 4px;
  text-align: center;
  margin: 0px auto 50px auto;
  font-size: 52px;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: var(--blue);
}
.sendword h3 strong {
  font-size: 26px;
  display: block;
}
.sendword form input,
.sendword form button {
  width: 30%;
  margin: 20px auto;
  display: block;
  border: 3px solid var(--black);
  padding: 20px 0px;
  border-radius: 20px;
  text-align: center;
  letter-spacing: 4px;
  font-size: 18px;
  text-transform: uppercase;
}
.sendword form button {
  background: var(--pink);
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  transition: all ease 0.2s;
  cursor: pointer;
}
.sendword form button:hover {
  background: var(--blue);
}
.ModalShare {
  background: #fff;
  padding: 50px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 60%;
  display: block;
  opacity: 1;
}
.ModalShare svg {
  cursor: pointer;
  margin: -40px 0px 5px 0px;
  float: right;
  font-size: 32px;
  transition: all ease 0.2s;
}
.ModalShare svg:hover {
  color: var(--pink);
}
.ModalShare p {
  width: 50%;
  margin: 0px auto 80px auto;
  font-size: 20px;
  line-height: 35px;
}
.ModalShare a,
.ModalShare button {
  color: var(--pink) !important;
  transition: all ease 0.2s;
}
.ModalShare a:hover,
.ModalShare button:hover {
  color: var(--blue) !important;
}
.ModalShare a:hover svg,
.ModalShare button:hover svg {
  border-color: var(--blue);
}
.ModalShare a:hover svg path,
.ModalShare button:hover svg path {
  fill: var(--blue);
}
.ModalShare a svg,
.ModalShare button svg {
  font-size: 24px;
  border-radius: 100px;
  padding: 10px;
  border: 1px solid var(--pink);
  margin: 0px 10px;
}
