*{
  margin: 0px;
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');

body{
  font-family: 'Asap', sans-serif;
  color: var(--black);
}

a{
  text-decoration: none;
}

.content{
  width: 1080px;
  margin: 0px auto;
}

.clear{
  clear: both;
}

// COLORS

:root {
  --pink: #ef7e91;
  --blue: #6897ea;
  --purple: #58167c;
  --white: #fff;
  --black: #3b3b3b;
}