* {
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Asap Regular'), local('Asap-Regular'), url(https://fonts.gstatic.com/s/asap/v12/KFOoCniXp96a-zw.ttf) format('truetype');
}
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Asap Bold'), local('Asap-Bold'), url(https://fonts.gstatic.com/s/asap/v12/KFOnCniXp96aw4A7xUw.ttf) format('truetype');
}
body {
  font-family: 'Asap', sans-serif;
  color: var(--black);
}
a {
  text-decoration: none;
}
.content {
  width: 1080px;
  margin: 0px auto;
}
.clear {
  clear: both;
}
:root {
  --pink: #ef7e91;
  --blue: #6897ea;
  --purple: #58167c;
  --white: #fff;
  --black: #3b3b3b;
}
