* {
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Asap Regular'), local('Asap-Regular'), url(https://fonts.gstatic.com/s/asap/v12/KFOoCniXp96a-zw.ttf) format('truetype');
}
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Asap Bold'), local('Asap-Bold'), url(https://fonts.gstatic.com/s/asap/v12/KFOnCniXp96aw4A7xUw.ttf) format('truetype');
}
body {
  font-family: 'Asap', sans-serif;
  color: var(--black);
}
a {
  text-decoration: none;
}
.content {
  width: 1080px;
  margin: 0px auto;
  position: relative;
  z-index: 100;
}
.clear {
  clear: both;
}
.button {
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  margin: 20px auto;
  padding: 10px 50px;
  cursor: pointer;
  transition: all ease 0.2s;
  letter-spacing: 5px;
}
.button.border {
  color: var(--white);
  border: 2px solid #fff;
}
.button.border:hover {
  background: var(--white);
  color: var(--purple);
}
:root {
  --pink: #ef7e91;
  --blue: #6897ea;
  --purple: #58167c;
  --white: #fff;
  --black: #3b3b3b;
}
