.formasdeprevencao {
  padding-bottom: 80px;
  margin-bottom: 115px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.formasdeprevencao .third {
  max-width: 400px;
}
.formasdeprevencao .center {
  text-align: center;
}
.formasdeprevencao .center h3 {
  font-size: 42px;
  line-height: 48px;
  font-weight: normal;
  margin-bottom: 50px;
}
.formasdeprevencao .center p {
  font-size: 16px;
  line-height: 32px;
}
.formasdeprevencao .left,
.formasdeprevencao .right {
  margin-top: 150px;
  position: relative;
}
.formasdeprevencao .left h4,
.formasdeprevencao .right h4 {
  color: #fff;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 20px;
}
.formasdeprevencao .left p,
.formasdeprevencao .right p {
  color: #fff;
  font-size: 12px;
  line-height: 26px;
}
.formasdeprevencao .slick-slider {
  position: relative;
  z-index: 10;
}
.formasdeprevencao .left {
  text-align: right;
  padding-left: 5vw;
}
.formasdeprevencao .left .slick-next {
  display: none !important;
}
.formasdeprevencao .right {
  padding-right: 5vw;
}
.formasdeprevencao .right .slick-prev {
  display: none !important;
}
.formasdeprevencao .left:after {
  position: absolute;
  left: -65%;
  top: -90%;
  content: '';
  display: block;
  width: 50vw;
  height: 50vw;
  border-radius: 50vw;
  background: var(--blue);
}
.formasdeprevencao .right:after {
  position: absolute;
  right: -65%;
  top: -60%;
  content: '';
  display: block;
  width: 50vw;
  height: 50vw;
  border-radius: 50vw;
  background: var(--pink);
}
.dicas h3 {
  font-size: 16px;
  text-align: center;
  padding: 0px 0px 15px 0px;
  border-bottom: 2px solid var(--black);
  margin: -150px auto 60px auto;
  display: block;
  width: 50%;
}
.dicas .slick-track {
  height: 180px !important;
}
.dicas .slick-slider .slick-list {
  height: 250px;
}
.dicas .slick-slider .slick-slide {
  padding: 10px;
}
.dicas .slick-slider .slick-slide img {
  width: 100%;
  border-radius: 20px;
}
.dicas .slick-slider .slick-prev:before {
  color: #000;
  top: -10px;
  position: absolute;
  left: -30px;
  content: "<";
}
.dicas .slick-slider .slick-next:before {
  color: #000;
  top: -10px;
  position: absolute;
  right: -30px;
  content: ">";
}
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .formasdeprevencao .third {
    max-width: 300px !important;
  }
  .formasdeprevencao .left,
  .formasdeprevencao .right {
    margin-top: 50px !important;
  }
  .formasdeprevencao .left:after {
    left: -135%;
    top: -90%;
    width: 70vw;
    height: 100vw;
    border-radius: 150vw;
  }
  .formasdeprevencao .right:after {
    right: -135%;
    top: -90%;
    width: 70vw;
    height: 100vw;
    border-radius: 150vw;
  }
}
