header{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 30px 5vw;
  img{
    max-height: 65px;
  }
  nav{
    margin-top: 25px;
    a{
      color: #fff;
      margin: 0px 0vw;
      padding: 0px 1.5vw;
      border-right: 1px solid #fff;
      &:hover{
        color: var(--pink);
      }
    }
    a:last-child{
      border: none;
    }
  }
}