.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 30px 5vw;
  position: relative;
  z-index: 200;
}
.header a.logo {
  display: block;
  width: 100px;
  height: 65px;
}
.header img {
  max-height: 65px;
}
.header nav {
  margin-top: 25px;
}
.header nav a {
  color: var(--purple);
  margin: 0px 0vw;
  padding: 0px 1.5vw;
  border-right: 1px solid var(--purple);
  text-transform: uppercase;
}
.header nav a:hover {
  color: var(--pink);
}
.header nav a:last-child {
  border: none;
}
